[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "lib/fatfs"]
	path = lib/fatfs
	url = https://github.com/ASU-SDSL/fatfs.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/ASU-SDSL/pico-sdk
[submodule "lib/libspacepacket"]
	path = lib/libspacepacket
	url = https://github.com/mzakocs/libspacepacket.git
[submodule "lib/pico-onewire"]
	path = lib/pico-onewire
	url = https://github.com/adamboardman/pico-onewire
